*{
    padding: 0;
    margin: 0;
}

.formstyle{
    width: 400px;
    height: 450px;
    background-color: green;
    margin-left: 650px;
    margin-top: 50px;
    border: 3px solid red;
    border-radius: 14px;
}

.ans{
    width: 380px;
    height: 80px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 12px;
    border: 2px solid blue;
    font-size: 22px;
    text-align: end;

}
.cc:hover{
    background-color: red;
    border: 2px solid white;

}
.cc{
    width: 90px;
    height: 50px;
    margin-left: 5px;
    border-radius: 12px;
    border: 2px solid blue;
    font-size: 20px;
}
#clear{
    width: 380px;
    height: 50px;
    margin-left: 10px;
    font-size: 25px;
    background-color: red;
    color: #fff;
    font-weight: bolder;
}
#clear:hover{
    background-color: blueviolet;
}